h3 {
  color: red;
}
.info_title {
  color: green;
  font-size: 16px;
  font-weight: bold;
  font-family: Cambria;
}
.info {
  font-size: 14px;
}
img {
  margin: 0 100px;
  height: 250px;
  width: 250px;
  float: right;
}
